body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}

.rounded-skeleton::before,
.rounded-skeleton::after {
  border-radius: 16px;
}

.hidden-scrollbar::-webkit-scrollbar,
.hidden-scrollbar::-webkit-scrollbar-button,
.hidden-scrollbar::-webkit-scrollbar-thumb,
.hidden-scrollbar::-webkit-scrollbar-track {
  display: none;
}